/*keyframe för att gå från orginalstorlek till 2x3 till första rubriken*/
@keyframes moveText {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(2, 3);
    }
}

/*keyframe för att ändra i 3 olika färger*/
@keyframes changeTextColor {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}

/*så att rubtiken får både keyframe för text och öndra färg*/
.text-animation {
    animation: moveText 3s infinite, changeTextColor 3s infinite;
    display: inline-block;
}

/*keyframe för att flytta knappen i sidles, fram och tillbaka*/
@keyframes moveBtn {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-100px);
    }
}

/*för att knappen ska röra sig fram och tillbaka, transition för att övergången ska bli snyggare*/
.move-button {
    animation: moveBtn 5s infinite ease-in-out;
    transition: transform 0.4s ease-in-out;
}

/*ändrar färg när man hover över knapp*/
.move-button:hover {
    background-color: blue;
}

/*keyframe för att rotera knappen ett helt varv*/
@keyframes rotateBtn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}